fastapi==0.135.3
GitPython==3.1.46
langchain_community==0.4.1
langchain_core==1.2.26
langchain_groq==1.1.2
langchain_huggingface==1.2.1
langsmith==0.7.25
networkx==3.6.1
numpy==2.4.4
pandas==2.2.2
pydantic==2.12.5
python-dotenv==1.2.2
pyvis==0.3.2
Requests==2.33.1
streamlit==1.51.0
tree_sitter==0.20.4
tree_sitter_languages==1.10.2
upstash_redis==1.7.0
uvicorn>=0.12.0
sentence-transformers==5.1.2
torch==2.0.1+cpu
transformers==4.57.1
